In [1]:
use Dan :ALL;

In [2]:
# Read .csv file (Text::CSV)

use Text::CSV;
my @lines  = csv( in => 'DemographicData.csv' );

my \stats = DataFrame.new( columns => @lines[0], data => @lines[1..*-1] );
~stats[0..5]^;      # head

    Country Name          Country Code  Birth rate  Internet users  Income Group
 0  Aruba                 ABW           10.244      78.9            High income
 1  Afghanistan           AFG           35.253      5.9             Low income
 2  Angola                AGO           45.985      19.1            Upper middle income
 3  Albania               ALB           12.877      57.2            Upper middle income
 4  United Arab Emirates  ARE           11.044      88              High income
 5  Argentina             ARG           17.716      59.9            High income

These two read csv options illustrate how the close relationship between raku code, modules and Dan objects makes it easy for programmers to unpack what is going on and to step in. 

What if you encounter non-standard character "noise" in input files, or non-standard quoting constructs? ... just write your own csv Regex - or even a whole Grammar! Also note the use of the << $_ >> which turns a Str into an [Allomorph](https://docs.raku.org/syntax/%3C%3C%20%3E%3E) such as IntStr, RatStr, NumStr...

What if you want RFC4180 compliance or unicode separators or unusual eol markers? ... then the comprehensive raku [Text::CSV](https://github.com/Tux/CSV) module is for you.

In [ ]:
# Read .csv file (Regex)

#| comb match anything except " and , -or- take a quoted string
my Regex \csv = rx/ <-[",]>+ | <["]> ~ <["]>  <-["]>+ /;

my @lines   = 'DemographicData.csv'.IO.lines;

my @columns = @lines.shift.comb( csv );
my @data    = @lines.map(*.comb( csv ).map({<< $_ >>}).Array);

my \stats2   = DataFrame.new( :@columns, :@data );
~stats2[0..5]^;      # head

In [ ]:
# '~' makes a Str, '^' makes a DataFrame from rows

~stats[*-5..*-1]^;    # tail

In [ ]:
stats.shape;

In [ ]:
stats.elems;

In [ ]:
stats.columns.elems;

In [ ]:
#Clean up #1 - tidy up col labels

stats.columns = <CountryName CountryCode BirthRate InternetUsers IncomeGroup> Z=> 0..âˆž;
say stats.columns;     #Hash (unordered)
say stats.cx;          #Seq    (ordered)

In [ ]:
#Clean up #2 - coerce cols to numbers      [see DD-raku-Dan-typed.ipynb for why & when]

stats.data[*;2,3].map({$_.=Rat});
stats.dtypes;

In [ ]:
~stats.describe;

In [ ]:
~stats[0..5]<CountryName BirthRate>;

In [ ]:
~stats[185..*-1]^;       # Range operator (start .. end)

In [ ]:
#Reverse order
~stats[10,*-1...5]^;     # Sequence operator (start,operation ... end)

In [ ]:
#Every 20th item
~stats[0,20...stats.elems]^;

In [ ]:
#Calculate and Append a new column

my $calcs = Series.new( stats[*]<BirthRate> >>*<< stats[*]<InternetUsers> );   #multiply every row

stats.splice( :ax, *, *, [MyCalc => $calcs] );
~stats[0..5]^;

In [ ]:
#Drop column

stats.splice( :ax, *-1 );
~stats[0..5]^;

In [3]:
# Filter

my \stats-c1 = stats.clone;

#~stats.grep( { stats.cx.<InternetUsers> < 2 } );
~stats-c1.grep( { .[3] < 2 } );

      Country Name  Country Code  Birth rate  Internet users  Income Group
 11   Burundi       BDI           44.151      1.3             Low income
 52   Eritrea       ERI           34.8        0.9             Low income
 55   Ethiopia      ETH           32.925      1.9             Low income
 64   Guinea        GIN           37.337      1.6             Low income
 117  Myanmar       MMR           18.119      1.6             Lower middle income
 127  Niger         NER           49.661      1.7             Low income
 154  Sierra Leone  SLE           36.729      1.7             Low income
 156  Somalia       SOM           43.891      1.5             Low income
 172  Timor-Leste   TLS           35.755      1.1             Lower middle income

In [4]:
~stats[0..5]^;

      Country Name  Country Code  Birth rate  Internet users  Income Group
 11   Burundi       BDI           44.151      1.3             Low income
 52   Eritrea       ERI           34.8        0.9             Low income
 55   Ethiopia      ETH           32.925      1.9             Low income
 64   Guinea        GIN           37.337      1.6             Low income
 117  Myanmar       MMR           18.119      1.6             Lower middle income
 127  Niger         NER           49.661      1.7             Low income